{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <td>ID</td>
            <td>Login name</td>
            <td>Twitch name</td>
            <td>Straming now</td>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.twitchLogin}}</td>
                <td>{{user.streaming?'<span class="green">Yes</span>':'<span class="red">No</span>'}}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}

{% block stylesheets %}
<style>
    .green {
        color: green;
    }
    .red {
        color: red;
    }
</style>
{% endblock %}
